.corps {
    background-color: black;
}

.bleu {
    background-color: rgb(84, 25, 212);
    border-radius: 10px;
    border: none;
    width: 15%;
    padding: 125px;
    font-size: 20px;
    margin-left: 30%;
}

#haut {
    margin-top: -61%;
    margin-left: 130%;
    display: flex;
    gap: 5px;
    font-size: 13px;
    color: white;
}

.par {
    margin-left: -58%;
    color: rgb(255, 255, 255);
    margin-top: 20%;
    font-size: 18px;
    cursor: pointer;
}

/*.fa-eye{
    margin-left: 73%;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.somme{
    margin-left: 15%;
    font-weight: bold;
    color: rgb(255, 255, 255); 
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50%;
}*/
.carte {
    margin-left: 37%;
    border-radius: 12px;
    width: 20%;
    margin-top: -8%;
    border: none;
}

.khaliss {
    margin-top: 15%;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
    font-family:  Arial, Helvetica, sans-serif;
    margin-left: 15%;
    cursor: pointer;

}

.wekh {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 15%;
    padding: 125px;
    font-size: 20px;
    margin-left: 30%;
    margin-top: -5%;
}

.trans {
    margin-left: -45%;
    margin-top: -30%;
    color: rgb(63, 63, 214);
    font-size: 32px;

}

.Transfert {
    margin-top: -1%;
    margin-left: -57%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.paym {
    margin-left: 10%;
    margin-top: -30%;
    color: rgb(198, 144, 43);
    font-size: 32px;
}

.pay {
    margin-top: -17%;
    margin-left: -3%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}

.credit {
    margin-left: 60%;
    margin-top: -31%;
    color: rgb(152, 137, 255);
    font-size: 32px;
    cursor: pointer;
}

.cresh {
    margin-top: -17%;
    margin-left: 56%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.Banque {
    margin-left: 115%;
    margin-top: -31%;
    color: rgb(173, 65, 19);
    font-size: 32px;
    cursor: pointer;
}

.bank {
    margin-top: -17%;
    margin-left: 110%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.cart {
    margin-left: -47%;
    margin-top: 8%;
    color: rgb(210, 151, 233);
    font-size: 32px;
    cursor: pointer;
}

.card {
    margin-top: -100%;
    margin-left: -49%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.cdx {
    margin-left: 10%;
    margin-top: -32%;
    color: rgb(102, 250, 100);
    font-size: 32px;
    cursor: pointer;
}

.cadeau {
    margin-top: -100%;
    margin-left: 1%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.Coffre {
    margin-left: 58%;
    margin-top: -30%;
    color: rgb(250, 122, 218);
    font-size: 32px;
    cursor: pointer;
}

.cofre {
    margin-top: -100%;
    margin-left: 54%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.Transport {
    margin-left: 115%;
    margin-top: -31%;
    color: rgb(240, 182, 128);
    font-size: 32px;
    cursor: pointer;
}

.bus {
    margin-top: -100%;
    margin-left: 105%;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.pose {
    background-color: rgb(228, 222, 222);
    border-radius: 1px;
    border: none;
    width: 15%;
    font-size: 20px;
    padding: 125px;
    margin-left: 30%;
    margin-top: -9%;
}

.histo {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 15%;
    padding: 125px;
    font-size: 20px;
    margin-left: 30%;
    margin-top: -19%;
}

.nom1 {
    margin-top: -58%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date1 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som1 {
    margin-top: -20%;
    margin-left: 115%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.nom2 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date2 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som2 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.nom3 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date3 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som3 {
    margin-top: -20%;
    margin-left: 115%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.nom4 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date4 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som4 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}
.nom5 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date5 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som5 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}
.nom6 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date6 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som6 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}
.nom7 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date7 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som7 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}
.nom8 {
    margin-top: 18%;
    margin-left: -60%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}

.date8 {
    margin-top: -1%;
    margin-left: -58%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(118, 118, 118);
}

.som8 {
    margin-top: -20%;
    margin-left: 123%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 25, 190);
}